body {
  background-image: url(https://www.nasa.gov/sites/default/files/halloween_sun_2014_2k.jpg);
  font-family: ;
}


.container {
  width: 50%;
  margin: auto;
  text-align: center;
  border: solid #d62828;
  color: #f77f00;
  box-shadow: 2px 2px 15px 15px  #d62828;
  /* text-shadow: 2px 2px #d62828; */
  background-color:  #003049;
  margin-top: 100px;
  padding: 10px;
  opacity: 85%;
  /* height: 60%; */
}

input {
  font-size: x-large;
  background-color: #eae2b7;
  color: #d62828;
  margin: auto;
  width: 20%;
}

#planet {
  font-size: x-large;
  margin: auto;
  width: 20%;
  background-color:  #eae2b7;
  color: #d62828;
}

label {
  font-size: xx-large;
}

#planetSelect {
  display: inline;
}

.mainBtn {
  font-size: x-large;
  background-color: #d62828;
  color: #eae2b7;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 15px;
}

#output p {
  font-size: xx-large;
}

.planetAge {
  font-size: xx-large;
  color: #fcbf49;
  text-shadow: 2px 2px #d62828;
}

#tryAgain, #yearsLeft {
  display: none;
}
