body {
  background-image: url(https://www.nasa.gov/sites/default/files/halloween_sun_2014_2k.jpg);
  background-position: center;
  background-size: cover;
  background-attachment:fixed;  
}

h1 {
  text-shadow: 2px 2px #fcbf49;
}

.container {
  width: auto;
  margin: auto;
  text-align: center;
  border: solid #fcbf49;
  border-radius: 80px;
  color: #f77f00;
  box-shadow: 2px 2px 15px 15px  #d62828;  
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 60%, rgba(214,40,40,1) 100%);
  margin-top: 100px;
  padding: 10px;
  opacity: 85%; 
}

#formBorder {
  border: solid #fcbf49;
  border-width: 1px;
  border-radius: 40px;
  padding: 15px;
  margin: auto;
  width: 61%;
  min-width: 60%;   
}

.container p {
  color: #fcbf49;
}

input {
  font-size: x-large;
  background-color: #eae2b7;
  color: #d62828;
  margin: auto;
  width: auto;
}

#planet {
  font-size: x-large;
  margin: auto;
  width: auto;
  background-color:  #eae2b7;
  color: #d62828;
}

label {
  font-size: xx-large;
}

#planetSelect {
  display: inline;
}

.mainBtn {
  border-radius: 15px;
  font-size: x-large;
  background-color: #d62828;
  color: #eae2b7;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 15px;
}

.mainBtn:hover {
  box-shadow: 2px 2px 15px 15px  #fcbf49; 
}

#output {
  font-size: xx-large;
}

.planetAge {
  margin: auto;
  font-size: 120px;
  color: #fcbf49;
  text-shadow: 2px 2px #d62828;
  margin-bottom: 0px;
}

#tryAgain, #yearsLeft {
  display: none;
}

.smallP {
  font-size: medium;
}

#clickP {
  font-weight: 600;
  color: #fcbf49;
}

#clickP:hover {
  text-shadow: 1px 1px #d62828;
}

/* #bottomBox {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/27/Mars_transparent.png");
} */
